.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 25px;
    z-index: 10;
    * {
        color: $main-color;
    }
    &__container {
        overflow: visible;
    }

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        margin-top: 7px;
    }

    &__logo {
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-right: 18px;
        cursor: pointer;
    }

    &__menu-wrapper {
        display: flex;
        align-items: center;
    }

    &__menu-icon {
        font-size: 12px;
        margin-right: 18.5px;
        cursor: pointer;
    }

    &__menu {
        cursor: pointer;
        font-size: 16px;
        font-weight: 800;
        line-height: 158.788%;
        letter-spacing: 0.16px;
        text-transform: uppercase;
        font-family: $font-anek;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 0%;
            height: 1px;
            right: 0;
            bottom: 4px;
            background: $main-color;
            transition: .3s ease;
        }
        &:hover::before {
            width: 100%;
            right: auto;
            left: 0;
        }
    }

    &__navigation-wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__search-wrapper {
        display: flex;
        align-items: center;
        width: 500px;
        border-bottom: 1px solid $main-color;
        margin-bottom: 20px;
    }

    &__search {
        width: 100%;
        font-size: 16px;
        font-family: $font-anek;
        &::placeholder {
            font-size: 16px;
            font-family: $font-anek;
            color: $text-secondary;
        }
    }

    &__search-icon {
        font-size: 20px;
        margin-bottom: 5px;
    }

    &__navigation {
        display: flex;
        li {
            margin-right: 27px;
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 14px;
                font-weight: 800;
                line-height: 0%;
                letter-spacing: 0.14px;
                text-transform: uppercase;
                font-family: $font-anek;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    right: 0;
                    bottom: 2px;
                    background: $main-color;
                    transition: .3s ease;
                }
                &:hover::before {
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
        }
    }

    &__icons {
        display: flex;
    }

    &__icon-wrapper {
        margin-right: 24px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__icon {
        font-size: 20px;
        cursor: pointer;
        transition: .3s ease;
        &:hover {
            transform: translateY(-6px);
        }
    }
}
