$main-color: #ffff;
$primary-color: #FF7A00;
$secondary-color: #FFF4EA;;
$primary-color-02: #FFF4B5;
$terial-color: #929292;
$text-color: #000000;
$text-secondary: #c9c9c9;
$transition: all .5s ease;

$font-anek: 'Anek Gujarati', sans-serif;