@import '_reset';
@import '_fonts';
@import '_variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html.no-scroll {
	overflow-y: hidden;
}

html,
body {
	font-size: 20px; 
	color: $text-color;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 0;
	}
	a {
		text-decoration: none;
		color: $text-color;
	}
	li {
		list-style: none;
	}
}

// General Container
._container {
	max-width: 1461px;
	margin: 0 auto;
	overflow: hidden;
}

@import '_header';
@import '_header-second';
@import '_home';
@import '_catalog';